.panel {
    -fx-background-color: #eff6fc;
}

.topBar {
    -fx-background-color: #0078d4;
}

.button {
    -fx-background-color: #fff4ce;
    -fx-border-width: 2px;
    -fx-border-color: #ffc038;
}

.button:hover {
    -fx-background-color: #ff841f;
}